
src/Black-jack.pro.user.4c6b1b5
src/Black_Jack.pro.user
build-Black_Jack-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile.Release
build-Black_Jack-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile.Debug
build-Black_Jack-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile
Black_Jack.pro.user
